@charset "utf-8";
/*
For: 	Fetion news
Author:	San
Date:	2009-04-09
*/
@import url("reset.css");
html, body {
	font-size:12px;
	height:100%;
}
html{
	overflow:hidden;
}
body{
	text-align:center;
	overflow:auto;
}
.main{
	text-align:left;
	margin:0 auto;
	width:700px;
}
.main h2{
	text-align:center;
	font:17px/60px "SimHei";
	color:#44536a;
	border-bottom:solid 1px #afb0b4;
}
.main .info{
	line-height:30px;
	color:#888;
	text-align:center;
}
.main .content{
	font-size:14px;
	line-height:140%;
	padding:1em;
}
.main .content p{
	padding-top:1em;
	text-indent:2em;
}
/* list */
.list dl .more{
	position:absolute;
	top:0;
	right:0;
}
.list dl dt,.list dl dd{
	position:relative;
}
.list dl dt{
	margin-bottom:8px;
	padding-left:15px;
	height:25px;
	color:#fff;
	font: bold 14px/25px "SimHei";
	background:url(../images/bg_list.gif) left top no-repeat;
	overflow:hidden;
}
.list dl dt .more{
	font:12px/25px Tahoma;
	padding-right:8px;
	background:url(../images/bg_list.gif) right bottom no-repeat;
}
.list dl dt .more a:link,.list dl dt .more a:hover,.list dl dt .more a:visited{
	color:#fff;
	text-decoration:none;
}
.list dl dd{
	margin:0 15px;
	padding-left:15px;
	height:25px;
	line-height:25px;
	background:url(../images/ico.gif) left center no-repeat;
}
.list dl dd .more{
	color:#54bbd2;
}
/* a */
a:link{
	color:#4c4c4c;
	text-decoration:none;
}
a:hover{
	color:#008abf;
	text-decoration:underline;
}
a:visited{
	color:#4c4c4c;
	text-decoration:none;
}
a:sctive{
	background:#ffc;
	text-decoration:none;
}