<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd" >
<beans default-autowire="byName">


	<bean id="loapAction"
		class="com.cmcc.framework.controller.action.loap.LoapAction">
	</bean>
	
	<bean id="loapCustomTreeAction"
		class="com.cmcc.framework.controller.action.loap.LoapCustomTreeAction">
	</bean>
	
	<bean id="structureDAO"
		class="com.cmcc.framework.persistence.impl.StructureDAOImpl">
	</bean>
</beans>
