@layout("/common/layout.html",{requiredEditor:true}){
<form action="${ctxPath}/bbs/admin/post/update" method="post" onsubmit="return ajaxSubmit(this)">
	<input type="hidden" name="id" value="${post.id}"/>
	<h3>主题：${topic.content}</h3>
	<div class="form-group">
		<textarea id="postContent" name="content">${post.content}</textarea>
	</div>
	<div class="btn-group pull-right">
		<button class="btn btn-sm btn-primary submit-btn"  type="submit"><i class="fa fa-check"></i> 提交</button>
		<button class="btn btn-sm btn-default preview-btn" onclick="preview()" type="button"><i class="fa fa-eye"></i> 预览</button>
	</div>
</form>
 @}