@layout("/common/layout.html",{inLogin:true}){
	<div class="well well-sm">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<form class="form-horizontal m-t" id="signupForm" action="${ctxPath}/bbs/user/doRegister" method="POST" onsubmit="return ajaxSubmit(this)">
	              <div class="form-group">
	                  <label class="col-sm-3 control-label">用户名：</label>
	                  <div class="col-sm-8">
	                      <input id="username" name="userName" class="form-control" type="text" aria-required="true" aria-invalid="true" value="${user.userName!}" class="error">
	                  </div>
	              </div>
	            <div class="form-group">
	                  <label class="col-sm-3 control-label">密码：</label>
	                  <div class="col-sm-8">
	                      <input id="password" name="password" class="form-control" type="text" aria-required="true" aria-invalid="true" class="error" value="${user.password!}">
	                  </div>
	              </div>
	              <div class="form-group">
	                  <label class="col-sm-3 control-label">E-mail：</label>
	                  <div class="col-sm-8">
	                      <input id="email" name="email" class="form-control" type="email" value=${user.email!}>
	                  </div>
	              </div>
	              <div class="form-group">
	                  <label class="col-sm-3 control-label">验证码：</label>
	                  <div class="col-sm-8" style="position:relative;">
	                      <input id="code" name="code" class="form-control" type="text" aria-required="true" aria-invalid="false" class="valid">
	                  		<img src="${ctxPath}/bbs/user/authImage" onclick="this.src='${ctxPath}/bbs/user/authImage?_='+Date.now()" title="点击刷新验证码" style="position:absolute;height:32px;top:1px;right:16px;cursor:pointer;border-radius:0 4px 4px 0">
	                  	</div>
	              </div>
	              <div class="form-group">
	                  <div class="col-sm-8 col-sm-offset-3">
	                      <button class="btn btn-primary" type="submit">提交</button>
	                  </div>
	              </div>
	          </form>
			</div>
		</div>
	</div>
@}