<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd" >
<beans default-autowire="byName">


	<bean id="customAction"
		class="com.cmcc.framework.controller.action.custom.CustomAction">
	</bean>

	<bean id="customManager"
		class="com.cmcc.framework.business.impl.custom.CustomManagerImpl">
		<property name="dataSource" ref="datasource_anal"></property>
	</bean>
</beans>
