body{
background-color:#0e1d3e;
margin:0;
}

div,td {
	font-family: "ו";
	font-size: 12px;
	color: #333333;
}
clear{
clear:both;
}
a{
color:#000000;
text-decoration:none;
}
a:hover{
	text-decoration: underline;
}
.a_orange{
color:#ff6600;
text-decoration:none;
}
.a_orange:hover{
color:#ff6600;
text-decoration: underline;
}
.a_white{
color:#fff;
text-decoration:none;
}
.a_white:hover{
color:#fff;
text-decoration: underline;
}


.fB {font-weight: bold;}
.fI {font-style: italic;}
.f12px{ font-size:12px;}
.f14px{ font-size:14px;}

.left{ float: left;}
.right{ float: right;}



.loginbj{
margin-top:120px;
background-image:url(../images/loginbj.png);
background-repeat:no-repeat;
background-position:top center;
height:500px;
}
.logininput1{
margin-top:151px;
margin-left:373px;
}
.logininput1 input{
border:0px;
width:195px;
height:18px;
}
.logininput2{
margin-top:17px;
margin-left:373px;
}
.logininput2 input{
border:0px;
width:195px;
height:18px;
}
.logininput3{
margin-top:17px;
margin-left:373px;
}
.logininput3 input{
border:0px;
width:100px;
height:18px;
}
.btn_denglu{
float:left;
margin-left:373px;
margin-top:17px;
background-image:url(../images/btn-denglu.gif);
background-repeat:no-repeat;
background-position:center center;
width:82px;
height:28px;
line-height:28px;
color:#FFFFFF;
text-align:center;
}
.btn_quxiao{
float:left;
margin-left:15px;
margin-top:17px;
background-image:url(../images/btn-denglu.gif);
background-repeat:no-repeat;
background-position:center center;
width:82px;
height:28px;
line-height:28px;
color:#FFFFFF;
text-align:center;
}
.a_white{
color:#fff;
text-decoration:none;
}


